/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

#button-list {
  width: 100%;
}

.btn {
  width: 100%;
}

.custom-width {
  width: fit-content;
}

span h5 {
  display: inline;
}